.slider {
    &-wrap {
        position: relative;
    }
    &-image {
        position: relative;
    }
    .swiper-slide {
        width: 870px;
        &__brown {
            font-family: Schnyder Cond XL Demi;
            font-size: 126px;
            line-height: 108px;
            text-transform: uppercase;
            color: #580300;
            // width: 609px;
            text-align: center;
        }
        &__transparent {
            font-size: 126px;
            line-height: 108px;
            text-transform: uppercase;
            color: transparent;
            transform: rotate(-1.5deg);
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #580300;
            // width: 609px;
            text-align: center;
        }
        .images {
            display: flex;
            justify-content: center;
        }
        .slide {
            &-pos {
                position: absolute;
                z-index: 10;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                top: -400px;
            }
            &__left_photo {
                width: 238px;
                height: 331px;
                transform: rotate(1.1deg);
                position: absolute;
                top: 55px;
                left: 289px;
                object-fit: cover;
            }
            &__center_photo {
                width: 476px;
                height: 702px;
                transform: rotate(1.5deg);
                object-fit: cover;
            }
            &__right_photo {
                width: 345px;
                height: 238px;
                transform: rotate(2.03deg);
                position: absolute;
                bottom: 0;
                right: 261px;
                object-fit: cover;
                object-position: top;
            }
            &_photo1, &_photo2, &__photo3{
                height: 702px;
            }
        }
        
    }
    
}